
<div class="mainDiv">

  <div class="formDiv">
    <mat-label>Disjunctive Normal Form</mat-label>
    <mat-card class="wrapText">{{dnf}}</mat-card>
  </div>

  <div class="formDiv">
    <mat-label>Conjunctive Normal Form</mat-label>
    <mat-card class="wrapText">{{knf}}</mat-card>
  </div>

  <div class="formDiv">
    <mat-label>Nand Form</mat-label>
    <mat-card class="wrapText">{{nandForm}}</mat-card>
  </div>

  <div class="formDiv">
    <mat-label>Nor Form</mat-label>
    <mat-card class="wrapText">{{norForm}}</mat-card>
  </div>

</div>


