table{
  width: 95%;
  margin-left: 10px;
}

mat-form-field{
  margin-left: 10px;
}
mat-expansion-panel{
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
}


.calculateButton{
  margin-left: 10px;
}
