<mat-form-field class="example-full-width">
  <mat-label>Enter formula</mat-label>
  <input matInput [formControl]="formControl">
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

<button mat-raised-button color="primary" (click)="calculate()" class="calculateButton">Calculate</button>
&nbsp;&nbsp;&nbsp;
<!--<button mat-raised-button color="primary" (click)="printKV()">KV</button>-->
<button mat-stroked-button color="basic" (click)="updateInput('⊼')">⊼</button>
<button mat-stroked-button color="basic" (click)="updateInput('∧')">∧</button>
<button mat-stroked-button color="basic" (click)="updateInput('⊽')">⊽</button>
<button mat-stroked-button color="basic" (click)="updateInput('∨')">∨</button>
<button mat-stroked-button color="basic" (click)="updateInput('⊻')">⊻</button>
<button mat-stroked-button color="basic" (click)="updateInput('→')">→</button>
<button mat-stroked-button color="basic" (click)="updateInput('←')">←</button>
<button mat-stroked-button color="basic" (click)="updateInput('↔')">↔</button>
<button mat-stroked-button color="basic" (click)="updateInput('¬')">¬</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container [matColumnDef]="formulaString" class="formulaColumn">
    <th mat-header-cell *matHeaderCellDef>{{formulaString}} </th>
    <td mat-cell *matCellDef="let element">{{element[formulaString]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns" class="variableColumn">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
</table>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How to enter a valid formula
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>

      Use the letters A-Z and a-z for the variables in your formula. Please note that uppercase and lowercase variables
      (like "A" and "a") are considered as different variables. <br><br>

      You can enter Operators by using the Buttons next to the input panel or type these codes for the different
      operators:<br><br>

      not:      ¬<br>
      nand:     ⊼<br>
      and:      ∧<br>
      nor:      ⊽<br>
      or:       ∨<br>
      xor:      ⊻<br>
      impr:     →<br>
      impl:     ←<br>
      equ:      ↔<br><br>

      You can use round brackets to influence the priority of operations<br>
      Without brackets the priority of operators is the following (from highest to lowest priority):<br>
      ¬, ⊼, ∧, ⊽, ∨, ⊻, →, ←, ↔





    </p>
  </mat-expansion-panel>
</mat-accordion>









