table{
  width: 95%;
  margin-left: 10px;
}

mat-form-field{
  margin-left: 10px;
}
mat-expansion-panel{
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
}


.calculateButton{
  margin-left: 10px;
}

/*This works only half good and could cause the index column to get pushed out of the table*/
.cell{
  padding-left: 10%;
}
